@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
.vectorIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconChevronLeft {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 56%;
  width: 49.12%;
  top: 32%;
  right: 36.84%;
  bottom: 12%;
  left: 14.04%;
}
.iconChevronLeftWrapper {
  position: relative;
  width: 57px;
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
}
.fffCollection {
  position: absolute;
  top: 6px;
  left: 0;
  font-weight: 700;
}
.fffCollectionWrapper {
  align-self: stretch;
  position: relative;
  height: 37px;
  flex-shrink: 0;
  overflow: hidden;
}
.image1Icon {
  position: absolute;
  top: calc(50% - 147.5px);
  left: calc(50% - 158px);
  width: 316px;
  height: 178px;
  object-fit: cover;
  opacity: 0;
}
.image1Icon.animate {
  animation: 2s ease 0s 1 normal forwards fade-in;
}
.frameChild {
  position: absolute;
  top: 138px;
  right: 16px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-300);
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
  width: 198px;
  height: 95px;
}
.helloIWas {
  margin-block-start: 0;
  margin-block-end: 0;
}
.helloIWasContainer {
  position: absolute;
  top: 148px;
  right: 25px;
  display: inline-block;
  font-weight: 700;
  width: 154px;
  height: 75px;
}
.frameInner,
.frameItem {
  background-color: var(--color-gray-300);
  position: absolute;
  border-radius: var(--br-md);
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
}
.frameItem {
  top: 262px;
  left: 17px;
  width: 198px;
  height: 80px;
}
.frameInner {
  border: 3px solid var(--color-white);
  bottom: 5px;
  left: calc(50% - 175px);
  box-sizing: border-box;
  width: 349px;
  height: 53px;
}
.frameInner:active {
  animation: 1s ease 0s infinite normal none scale-down-center;
  opacity: 1;
}
.sorryWeJust {
  position: absolute;
  top: 279px;
  left: 25px;
  display: inline-block;
  font-weight: 700;
  width: 181px;
}
.image1Parent {
  position: absolute;
  top: calc(50% - 364px);
  left: calc(50% - 181.5px);
  width: 364px;
  height: 735px;
  overflow: hidden;
}
.iphone14Pro27Inner {
  align-self: stretch;
  position: relative;
  height: 742px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.iphone14Pro27 {
  position: relative;
  border-radius: var(--br-md);
  background-color: var(--color-black);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 5px var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-white);
  font-family: var(--font-lato);
}
