.frameChild,
.iconUser {
  position: absolute;
  top: 14.25px;
  left: 29.25px;
  width: 54.5px;
  height: 55.5px;
}
.iconUser {
  height: 31.33%;
  width: 23.42%;
  top: 33.73%;
  right: 37.84%;
  bottom: 34.94%;
  left: 38.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipseParent,
.frameItem {
  position: absolute;
  height: 83px;
}
.frameItem {
  top: 0;
  left: 3.25px;
  width: 107.75px;
}
.ellipseParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 24px;
  right: 0;
  width: 111px;
  overflow: hidden;
}
.aftermarket,
.forSeriousCar {
  position: absolute;
  top: 106px;
  left: 0;
  display: inline-block;
  font-weight: 700;
  width: 194px;
  height: 32px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.forSeriousCar {
  top: 175px;
  font-size: var(--font-size-base);
  text-align: center;
  width: 190px;
  height: 37px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.75);
}
.frameInner {
  position: absolute;
  top: 2px;
  right: 0;
  border-radius: var(--br-md);
  width: 79px;
  height: 35px;
}
.filters {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 9px;
  right: 15px;
  font-size: var(--font-size-base);
  display: inline-block;
  font-style: italic;
  font-weight: 700;
  font-family: var(--font-lato);
  background: linear-gradient(123.14deg, #06b0e5, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
.vectorParent {
  position: absolute;
  top: 119px;
  right: 27px;
  width: 79px;
  height: 37px;
  overflow: hidden;
}
.frameParent {
  align-self: stretch;
  position: relative;
  height: 267px;
  flex-shrink: 0;
  overflow: hidden;
}
.frameChild1,
.frameChild2,
.frameChild3,
.rectangleButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-400);
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 181.5px);
  border-radius: var(--br-lg);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25),
    -10px -10px 70px rgba(125, 125, 125, 0.25);
  width: 364px;
  height: 235px;
}
.frameChild1,
.frameChild2,
.frameChild3 {
  top: calc(50% - 269px);
  left: calc(50% - 185.5px);
  width: 372px;
}
.frameChild2,
.frameChild3 {
  top: calc(50% + 234px);
  left: calc(50% - 181.5px);
  width: 364px;
}
.frameChild3 {
  top: calc(50% + 484px);
}
.alfaRomeo,
.audi,
.lm2568,
.nissan {
  position: absolute;
  top: calc(50% - 94px);
  left: calc(50% - 47.5px);
  font-weight: 700;
}
.audi,
.lm2568,
.nissan {
  top: calc(50% + 170px);
  left: calc(50% - 18.5px);
}
.lm2568,
.nissan {
  top: calc(50% + 427px);
  left: calc(50% - 27.5px);
}
.lm2568 {
  top: calc(50% + 663px);
  left: calc(50% - 34.5px);
}
.screenshot176Icon,
.screenshot177Icon,
.screenshot179Icon,
.screenshot183Icon {
  position: absolute;
  top: calc(50% - 248px);
  left: calc(50% - 150.5px);
  border-radius: var(--br-xs);
  width: 302px;
  height: 154.38px;
  object-fit: cover;
}
.screenshot177Icon,
.screenshot179Icon,
.screenshot183Icon {
  top: calc(50% + 2px);
  height: 163.41px;
}
.screenshot179Icon,
.screenshot183Icon {
  top: calc(50% + 251px);
  height: 145.06px;
}
.screenshot183Icon {
  top: calc(50% + 501px);
  left: calc(50% - 151.5px);
  width: 304px;
  height: 149.72px;
}
.rectangleParent {
  position: absolute;
  top: -15px;
  left: calc(50% - 196.5px);
  width: 393px;
  height: 538px;
  overflow-y: auto;
}
.iphone14Pro26Inner {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--font-size-2xl);
}
.rectangleDiv {
  position: absolute;
  top: calc(50% - 31px);
  left: calc(50% - 196.5px);
  border-radius: var(--br-sm);
  background-color: var(--color-gray-400);
  width: 393px;
  height: 66px;
}
.vectorIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconCommentSquare,
.iconHome {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 57.45%;
  width: 8.03%;
  top: 17.02%;
  right: 48.12%;
  bottom: 25.53%;
  left: 43.85%;
}
.iconCommentSquare {
  height: 63.83%;
  width: 6%;
  right: 85.69%;
  bottom: 19.15%;
  left: 8.31%;
}
.vectorIcon2,
.vectorIcon3,
.vectorIcon4 {
  position: absolute;
  height: 10%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 90%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon3,
.vectorIcon4 {
  top: 46.54%;
  bottom: 43.46%;
}
.vectorIcon4 {
  top: 90%;
  bottom: 0;
}
.iconMenu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 50.29%;
  width: 7.2%;
  top: 17.02%;
  right: 13.3%;
  bottom: 32.69%;
  left: 79.5%;
}
.iconHomeParent {
  position: absolute;
  bottom: 11px;
  left: calc(50% - 186.5px);
  width: 374px;
  height: 47px;
  overflow: hidden;
}
.rectangleGroup {
  align-self: stretch;
  position: relative;
  height: 62px;
  flex-shrink: 0;
  overflow: hidden;
}
.iphone14Pro26 {
  position: relative;
  border-radius: var(--br-md);
  background-color: var(--color-black);
  width: 100%;
  height: 852px;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 26px;
  color: var(--color-white);
  font-family: var(--font-lato);
}
