@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.image1Icon {
  position: absolute;
  top: calc(50% - 97px);
  left: calc(50% - 167.5px);
  width: 348px;
  height: 268px;
  object-fit: cover;
  opacity: 0;
}
.image1Icon.animate,
.wantToKnow.animate {
  animation: 2s ease 0s 1 normal forwards fade-in;
}
.image1Wrapper,
.wantToKnow {
  align-self: stretch;
  position: relative;
}
.image1Wrapper {
  height: 194px;
  flex-shrink: 0;
  overflow: hidden;
}
.wantToKnow {
  font-weight: 700;
  opacity: 0;
}
.blankLine {
  margin-block-start: 0;
  margin-block-end: 0;
}
.youAreIn {
  margin: 0;
}
.youAreInContainer {
  align-self: stretch;
  position: relative;
  display: inline-block;
  font-weight: 700;
  height: 50px;
  flex-shrink: 0;
  opacity: 0;
}
.youAreInContainer.animate {
  animation: 1s ease 1.5s 1 normal forwards fade-in;
}
.frameChild,
.getStarted {
  position: absolute;
  cursor: pointer;
}
.frameChild {
  top: calc(50% - 17px);
  left: calc(50% - 67.5px);
  border-radius: var(--br-md);
  background-color: var(--color-gray-400);
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
  width: 135px;
  height: 31px;
  opacity: 0;
}
.frameChild.animate {
  animation: 0s ease 11s 1 normal forwards fade-in;
}
.getStarted {
  top: calc(50% - 10px);
  left: calc(50% - 40.5px);
  font-weight: 700;
  background: linear-gradient(
    123.14deg,
    #06b0e5,
    #fff 99.99%,
    rgba(255, 255, 255, 0)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.iphone14Pro6,
.rectangleParent {
  position: relative;
  overflow: hidden;
}
.rectangleParent {
  align-self: stretch;
  height: 40px;
  flex-shrink: 0;
  opacity: 0;
  cursor: pointer;
  text-align: left;
}
.rectangleParent.animate {
  animation: 1s ease 2s 1 normal forwards fade-in;
}
.iphone14Pro6 {
  border-radius: var(--br-md);
  background-color: var(--color-gray-400);
  width: 100%;
  height: 852px;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 54px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-lato);
}
