.location {
  margin-block-start: 0;
  margin-block-end: 0;
}
.asMentioned {
  margin: 0;
  font-size: var(--font-size-xs);
}
.locationAsMentionedContainer {
  top: 248px;
}
.locationAsMentionedContainer,
.name,
.profile {
  position: absolute;
  left: 0;
  font-weight: 700;
}
.profile {
  top: 31px;
  font-size: var(--font-size-4xl);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.name {
  top: 177px;
}
.frameChild,
.frameItem {
  border: 0;
  background-color: transparent;
  position: absolute;
  width: 237px;
}
.frameChild {
  top: calc(50% - 173.5px);
  left: calc(50% - 118.5px);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  height: 36px;
}
.frameItem {
  top: calc(50% - 98.5px);
  left: calc(50% - 93.5px);
  height: 40px;
  overflow: hidden;
}
.notifications {
  position: absolute;
  top: 382px;
  left: 4px;
  font-size: var(--font-size-xl);
  font-weight: 700;
}
.switchdefault {
  position: absolute;
  top: 8px;
  left: 14px;
}
.switchdefaultWrapper {
  position: absolute;
  top: 379px;
  right: 14px;
  width: 60px;
  height: 42px;
  overflow: hidden;
}
.locationAsMentionedParent {
  align-self: stretch;
  position: relative;
  height: 677px;
  flex-shrink: 0;
  overflow: hidden;
}
.vectorIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconCommentSquare,
.iconHome {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 17.02%;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.01);
}
.iconHome {
  height: 57.45%;
  width: 8.03%;
  right: 48.12%;
  bottom: 25.53%;
  left: 43.85%;
}
.iconCommentSquare {
  height: 63.83%;
  width: 6%;
  right: 85.69%;
  bottom: 19.15%;
  left: 8.31%;
}
.vectorIcon2 {
  top: 0;
  bottom: 90%;
}
.vectorIcon2,
.vectorIcon3,
.vectorIcon4 {
  position: absolute;
  height: 10%;
  width: 100%;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon3 {
  top: 46.54%;
  bottom: 43.46%;
}
.vectorIcon4 {
  top: 90%;
  bottom: 0;
}
.iconMenu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 50.29%;
  width: 7.2%;
  top: 17.02%;
  right: 13.3%;
  bottom: 32.69%;
  left: 79.5%;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.01);
}
.iconHomeParent {
  position: absolute;
  top: calc(50% - 19.5px);
  left: calc(50% - 186.5px);
  width: 374px;
  height: 47px;
}
.iphone14Pro11Inner {
  align-self: stretch;
  position: relative;
  height: 55px;
  flex-shrink: 0;
  overflow: hidden;
}
.iphone14Pro11 {
  position: relative;
  border-radius: var(--br-md);
  background-color: var(--color-black);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 62px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-lato);
}
