.audi {
  position: absolute;
  top: 69px;
  left: 0;
  display: inline-block;
  font-weight: 700;
  width: 117px;
  height: 36px;
  mix-blend-mode: normal;
}
.frameChild,
.iconUser {
  position: absolute;
  top: 14.25px;
  left: 29.25px;
  width: 54.5px;
  height: 55.5px;
}
.iconUser {
  height: 31.33%;
  width: 23.42%;
  top: 33.73%;
  right: 37.84%;
  bottom: 34.94%;
  left: 38.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipseParent,
.frameItem {
  position: absolute;
  height: 83px;
}
.frameItem {
  top: 0;
  left: 3.25px;
  width: 107.75px;
}
.ellipseParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 31px;
  right: 0;
  width: 111px;
  overflow: hidden;
}
.frameInner {
  border: 0;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 152px);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(160, 155, 155, 0.5),
    rgba(57, 57, 57, 0)
  );
  width: 302px;
  height: 144px;
}
.r8ETron {
  position: absolute;
  top: 39px;
  left: 15px;
  display: inline-block;
  font-weight: 700;
  width: 76px;
  height: 23px;
  mix-blend-mode: normal;
}
.r8ETronWrapper {
  position: absolute;
  top: 67px;
  left: 0;
  width: 84px;
  height: 62px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.audiParent {
  align-self: stretch;
  position: relative;
  height: 316px;
  flex-shrink: 0;
  overflow: hidden;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 9px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-400);
  width: 213px;
  height: 31px;
}
.ellipseIcon {
  position: absolute;
  top: 6px;
  left: 96px;
  width: 18px;
  height: 19px;
  opacity: 0.96;
}
.crRs,
.crRs1 {
  position: absolute;
  top: 104px;
  right: -4px;
  display: inline-block;
  font-weight: 700;
  width: 56px;
  height: 12px;
}
.crRs1 {
  top: 62px;
  width: 57px;
}
.inclusiveOfTaxes,
.inclusiveOfTaxes1 {
  position: absolute;
  top: 122px;
  right: 0;
  font-weight: 700;
  background: linear-gradient(#807e7e, #807e7e),
    linear-gradient(#807e7e, #807e7e), #807e7e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.inclusiveOfTaxes1 {
  top: 79px;
}
.specsAndPrice,
.v12 {
  left: 0;
  display: inline-block;
  font-weight: 700;
}
.specsAndPrice {
  position: absolute;
  top: 18px;
  font-size: var(--font-size-base);
  width: 118px;
  height: 15px;
}
.v12 {
  top: 62px;
  width: 135px;
  height: 12px;
}
.crRsParent,
.v12,
.v8 {
  position: absolute;
}
.v8 {
  top: 103px;
  left: 0;
  display: inline-block;
  font-weight: 700;
  width: 135px;
  height: 12px;
}
.crRsParent {
  top: calc(50% - 68.5px);
  left: calc(50% - 160px);
  width: 320px;
  height: 157px;
}
.rectangleParent {
  align-self: stretch;
  position: relative;
  height: 233px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--font-size-xs);
}
.audiMumbai {
  position: absolute;
  top: 78px;
  left: 0;
  font-weight: 700;
  opacity: 0.7;
}
.sheepey {
  top: 117px;
  width: 105px;
  height: 22px;
  opacity: 0.7;
}
.dealersNearYou,
.lectro,
.sheepey {
  position: absolute;
  left: 0;
  display: inline-block;
  font-weight: 700;
}
.lectro {
  top: 156px;
  width: 105px;
  height: 22px;
  opacity: 0.7;
}
.dealersNearYou {
  top: 30px;
  width: 127px;
  height: 18px;
}
.frameChild1 {
  position: absolute;
  top: 5px;
  left: 25px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-400);
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
  width: 122px;
  height: 31px;
}
.contact1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.contact {
  position: absolute;
  top: 11px;
  left: 56px;
  font-size: var(--font-size-base);
  display: inline-block;
  font-weight: 700;
  font-family: var(--font-lato);
  background: linear-gradient(123.14deg, #06b0e5, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  width: 56px;
  height: 25px;
}
.frameButton,
.rectangleContainer,
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  right: 0;
  width: 153px;
  overflow: hidden;
}
.rectangleContainer,
.rectangleGroup {
  height: 39px;
}
.rectangleGroup {
  top: 68px;
}
.rectangleContainer {
  top: 107px;
}
.frameButton {
  top: 146px;
  height: 41px;
}
.audiMumbaiParent {
  align-self: stretch;
  position: relative;
  height: 222px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.frameChild4 {
  position: absolute;
  top: calc(50% - 33px);
  left: calc(50% - 197px);
  border-radius: var(--br-sm);
  background-color: var(--color-gray-400);
  width: 393px;
  height: 66px;
}
.vectorIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconCommentSquare,
.iconHome {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 17.02%;
}
.iconHome {
  height: 57.45%;
  width: 8.03%;
  right: 48.12%;
  bottom: 25.53%;
  left: 43.85%;
}
.iconCommentSquare {
  height: 63.83%;
  width: 6%;
  right: 85.69%;
  bottom: 19.15%;
  left: 8.31%;
}
.vectorIcon2 {
  top: 0;
  bottom: 90%;
}
.vectorIcon2,
.vectorIcon3,
.vectorIcon4 {
  position: absolute;
  height: 10%;
  width: 100%;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon3 {
  top: 46.54%;
  bottom: 43.46%;
}
.vectorIcon4 {
  top: 90%;
  bottom: 0;
}
.iconMenu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 50.29%;
  width: 7.2%;
  top: 17.02%;
  right: 13.3%;
  bottom: 32.69%;
  left: 79.5%;
}
.iconHomeParent {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 187px);
  width: 374px;
  height: 47px;
  overflow: hidden;
}
.frameDiv,
.iphone14Pro2 {
  position: relative;
  overflow: hidden;
}
.frameDiv {
  align-self: stretch;
  flex: 1;
}
.iphone14Pro2 {
  border-radius: var(--br-md);
  background-color: var(--color-gray-400);
  width: 100%;
  height: 837px;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-lato);
}
