.frameChild,
.iconUser {
  position: absolute;
  top: 14.25px;
  left: 29.25px;
  width: 54.5px;
  height: 55.5px;
}
.iconUser {
  height: 31.33%;
  width: 23.42%;
  top: 33.73%;
  right: 37.84%;
  bottom: 34.94%;
  left: 38.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipseParent,
.frameItem {
  position: absolute;
  height: 83px;
}
.frameItem {
  top: 0;
  left: 3.25px;
  width: 107.75px;
}
.ellipseParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 24px;
  right: 0;
  width: 111px;
  overflow: hidden;
}
.welcome {
  position: absolute;
  top: 55px;
  left: 0;
  display: inline-block;
  font-weight: 700;
  width: 151px;
  height: 32px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.frameInner {
  position: absolute;
  top: 128px;
  right: 65px;
  border-radius: var(--br-md);
  width: 83px;
  height: 39px;
}
.filters,
.location {
  position: absolute;
  font-size: var(--font-size-base);
  font-weight: 700;
}
.location {
  top: 108px;
  left: 0;
  display: inline-block;
  width: 73px;
  height: 13px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.75);
}
.filters {
  top: 1px;
  left: 5px;
  font-family: var(--font-lato);
  background: linear-gradient(123.14deg, #06b0e5, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
.filtersWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 131px;
  right: 80px;
  width: 54px;
  height: 18px;
  overflow: hidden;
}
.dropdowndefault {
  position: absolute;
  top: 100px;
  left: 77px;
}
.frameParent {
  align-self: stretch;
  position: relative;
  height: 204px;
  flex-shrink: 0;
  overflow: hidden;
}
.trending {
  position: absolute;
  top: 5px;
  left: 0;
  display: inline-block;
  font-weight: 700;
  width: 200px;
  height: 37px;
}
.trendingWrapper {
  align-self: stretch;
  position: relative;
  height: 47px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: 24px;
}
.frameChild1,
.frameChild2,
.rectangleButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-400);
  position: absolute;
  left: calc(50% - 198px);
  border-radius: var(--br-lg);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25),
    -10px -10px 70px rgba(125, 125, 125, 0.25);
  width: 364px;
  height: 235px;
}
.rectangleButton {
  top: calc(50% - 122.5px);
}
.frameChild1 {
  top: calc(50% + 140.5px);
}
.frameChild2 {
  top: calc(50% - 375.5px);
}
.audi {
  position: absolute;
  left: 12px;
  font-weight: 700;
}
.ferrari {
  top: 175px;
}
.ferrari,
.nissan {
  position: absolute;
  left: 12px;
  font-weight: 700;
}
.audi {
  top: 439px;
}
.nissan {
  top: 696px;
}
.screenshot165Icon {
  position: absolute;
  top: calc(50% - 358.5px);
  left: calc(50% - 164px);
  border-radius: var(--br-xs);
  width: 302px;
  height: 149.2px;
  object-fit: cover;
}
.screenshot178Icon {
  width: 302px;
}
.screenshot178Icon,
.screenshot191Icon {
  position: absolute;
  border-radius: var(--br-xs);
  object-fit: cover;
}
.screenshot178Icon {
  top: calc(50% - 105.5px);
  left: calc(50% - 169px);
  height: 153.44px;
}
.screenshot191Icon {
  top: calc(50% + 163.5px);
  left: calc(50% - 164px);
  width: 297.39px;
  height: 144px;
}
.rectangleParent {
  position: absolute;
  top: calc(50% - 241.5px);
  left: calc(50% - 199.5px);
  width: 400px;
  height: 617px;
  overflow-y: auto;
}
.iphone14Pro4Inner {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow-y: auto;
  font-size: var(--font-size-2xl);
}
.rectangleDiv {
  position: absolute;
  top: calc(50% - 34px);
  left: calc(50% - 196.5px);
  border-radius: var(--br-sm);
  background-color: var(--color-gray-400);
  width: 393px;
  height: 66px;
}
.vectorIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconCommentSquare,
.iconHome {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 17.02%;
}
.iconHome {
  height: 57.45%;
  width: 8.03%;
  right: 48.12%;
  bottom: 25.53%;
  left: 43.85%;
}
.iconCommentSquare {
  height: 63.83%;
  width: 6%;
  right: 85.69%;
  bottom: 19.15%;
  left: 8.31%;
}
.vectorIcon2 {
  top: 0;
  bottom: 90%;
}
.vectorIcon2,
.vectorIcon3,
.vectorIcon4 {
  position: absolute;
  height: 10%;
  width: 100%;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon3 {
  top: 46.54%;
  bottom: 43.46%;
}
.vectorIcon4 {
  top: 90%;
  bottom: 0;
}
.iconMenu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 50.29%;
  width: 7.2%;
  top: 17.02%;
  right: 13.3%;
  bottom: 32.69%;
  left: 79.5%;
}
.iconHomeParent {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 186.5px);
  width: 374px;
  height: 47px;
  overflow: hidden;
}
.rectangleGroup {
  align-self: stretch;
  position: relative;
  height: 68px;
  flex-shrink: 0;
  overflow: hidden;
}
.iphone14Pro4 {
  position: relative;
  border-radius: var(--br-md);
  background-color: var(--color-gray-400);
  width: 100%;
  height: 936px;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-md);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-white);
  font-family: var(--font-lato);
}
